<nav>
  <div class='center_wrap'>
    <!-- <a href=#><img src='img/logo_color.png'></a> -->
    <a href="#" id="menu_icon">&nbsp;</a>
    <ul>
    	<li><a href=#>Apply</a></li>
      <li><a href=#>Tools</a></li>
      <li><a href=#>About</a></li>
    </ul>
  </div>
</nav>